.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.brand-logo {
	font-family: 'Fredoka One', cursive;
	font-size: 30px;
}

body {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-repeat: repeat-x;
	margin-bottom: -180px;
	padding: 1em;
}

.right hide-on-med-and-down {
	font-size: 22px;
}

#login {
	font-size: 40px;
	font-weight: bold;
}

.rotation {
	-ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

.helpdesk {
	margin-top: -50px;
	vertical-align: top;
	font-size: 30px;
	margin-left: 5px;
}

.subheader {
	color: purple;
	text-decoration: bold;
	background-color: #669999;
	border-radius: 4em;
}

.header {
	color: white;
	text-decoration: bold;
	background-color:  #669999;
	border-radius: 4em;
}

p {
	color: black;
	font-size: 18px;
}

h5 {
	color: #669999;
}

.bigger {
	font-size: 32px;
	font-style: bold;
	color: #669999;
}

.p2 {
	color: black;
	font-size: 20px;
}

.imgcontainer {
	width: 300px;
	height: 300px;
	margin: auto;
	margin-bottom: 60px;
}

h2 {
	font-size: 60px;
	text-align: center;
}

